.btn {
    display: inline-block;
    color: var(--white);
    padding: 6px 12px;
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}

.btn-primary {
    color: var(--white);
    background-color: var(--primary);
    border-color: var(--primary);
}
.btn-primary.btn-transparent {
    color: var(--primary);
    background-color: transparent;
    border-color: var(--primary);
}

.btn-secondary {
    color: var(--white);
    background-color: var(--secondary);
    border-color: var(--secondary);
}
.btn-secondary.btn-transparent {
    color: var(--secondary);
    background-color: transparent;
    border-color: var(--secondary);
}

.btn-large {
    min-width: 15.125rem;
}